/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

h1, h2 {
  margin: 50 auto;
  background: blue;
  text-align: center;
  width: 200px;
  color: white;
  border: 2px solid red;
}

.list {
  margin: 50px;
  border: 2px solid red;
  background: blue;
  color: white;
  display: block;
  float: left;
}

.list ul {
  padding: 15px;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.delete-card {
  display: none;
}

.card:hover .delete-card {
  display: block;
}
