<h1><%= list.escape('title') %></h1>

<h2>Cards</h2>

<% list.cards().each(function (card) { %>
  <li>
    <%= card.escape('title') %><br>
    <%= card.escape('description') %>
  </li>
<% }) %>

<a href='#/lists/new'>
